
.breadcrumb {
    /* position: absolute; */
    padding: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.breadcrumb a{
    opacity: 0.5;
}
.breadcrumb a:hover{
    opacity: 1;
}

.img-upload {
    height: 100% !important;
}

.file-expand-upload-block {
    display: none;
    padding: 9px 5px 5px 5px;
    border: 1px #ccc solid;
    border-top: 1px #e6e6e6 solid;
}

.file-upload-button {
    position: absolute;
    clip: rect(0,0,0,0);
}

label.uploadbutton {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    height: 30px;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
}

label.uploadbutton input {
    opacity: 0
}

label.uploadbutton .button-file {
    width: 100px;
    line-height: 30px;
    text-align: center;
    background: #7300df;
    transition: background 0.2s;
    border: 1px solid rgba(0,0,0,0.1);
    color: #fff;
    display: inline-block;
}
label.uploadbutton:hover .button-file {
    background: green;
}

label.uploadbutton .input {
    display: inline-block;
    margin-right: 10px;
}

.fileinput-class {
    margin-left: 4px;
}

.fileinput-class > div{
    word-wrap: normal;
    word-break: break-all;
}


.fileinput-class .img-thumbnail {
    height: 100%;
    margin-left: -4px;
}


.file-add-separate {
    height: 5px;
    border-top:solid #eaeaea 1px;
}

.file-is_main {
    width:50px !important;
}

.fileinput-class .img-main {
    font-weight: bold;
}